.wrapper {
    width: 300px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-radius: 10px;
    border: 1px solid var( --color-3 );

    padding: 15px;
}

@media ( max-width: 1024px ) {
    .wrapper {
        width: 100%;
    }
}