/*

Styles

*/

/**

Container

**/

.container {
    position: absolute;

    top: calc( 100% + 10px );
    left: -1px;

    width: calc( 100% + 2px );

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 10px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
    clip-path: inset( 0px -10px -10px -10px );

    z-index: 100;
}

/**

Search

**/

.search {
    padding: 10px;
    background: rgba( 0, 0, 0, 0.05 );
    font-size: 14px;
}

/**

Options

**/

.options {
    width: 100%;
    max-height: 200px;

    overflow-y: auto;
}

/**

Option

**/

.optionType1,
.optionType2,
.optionType3 {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
.optionType1:hover,
.optionType2:hover,
.optionType3:hover,
.selectedOption:not( :hover ) {
    background: #f5f5f5;
}
.optionType1 input,
.optionType2 input,
.optionType3 input {
    cursor: pointer;
}

.optionType1 {
    display: flex;
    align-items: center;
}
.optionType1 input {
    background: transparent;
    border: none;

    color: #000;
    text-align: start;
    white-space: normal;
    overflow-wrap: break-word;
}

.optionType2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.optionType2 span {
    color: #000;
    cursor: pointer;
}
.optionType2 input {
    width: 15px;
    height: 15px;

    accent-color: #000;

    cursor: pointer;
}

.optionType3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.optionType3 span {
    color: #000;
}
.optionType3 input {
    background: transparent;
    border: none;

    color: #777;
}