.rowSection,
.columnSection {
    min-height: 100px;
    padding: 20px;
    border-radius: 10px;
    background: #f5f5f5;
}

.rowSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rowSection .values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.rowSection .value {
    padding: 10px 15px;
    border-radius: 20px;
    background: #ddd;
}

.columnSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.columnSection .item {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 15px;
}

.columnSection .item > :first-child {
  grid-column: 1;
}

.columnSection .item > :not( :first-child ) {
  grid-column: 2;
}

.label,
.rowSection .text,
.rowSection .values,
.map {
    padding-inline-start: 15px;
}

.label,
.rowSection .value {
    white-space: nowrap;
}

.label {
    border-inline-start: 1px solid #ddd;
    color: #777;
}

.rowSection .text,
.rowSection .values,
.map {
    border-inline-start: 1px solid #777;
}

.columnSection .label {
    border-inline-start: 1px solid #ddd;
    border-inline-end: 1px solid #777;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 15px;
}