.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;

  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#emoji {
  flex: 0 0 75px;

  padding-top: 2px;
  border-inline-end: 1px solid #ddd;
}

#emoji span {
  display: inline-block;
  font-size: 42px;
  line-height: 1;
  animation: beat 0.5s ease infinite;
}

#message {
  font-size: 18px;
  color: #777;
}

@keyframes beat {
  from { transform: scale( 1 ); }
  to { transform: scale( 0.9 ); }
}